.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.side-nav {
  top: 64px;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.side-nav {
  top: 64px;
}

.emblem {
  height: 80px !important;
  margin-top: -14px !important;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.promo i {
  color: #004d40;
}

a:hover {
  color: #004d40;
}

.header {
  color: #004d40;
  font-weight: 300;
}

body {
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.project-content p {
  text-align: justify !important;
}

blockquote {
  border-left: 5px solid #004d40 !important;
}


.col-3-card {
  width: 29%;
  height: 200px;
  margin-left: 3.33333%;
  left: auto;
  right: auto;
}

#slide-out{
  width: 200px;
}
